@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<BenLearns.ViewModels.SingleVolunteerViewModel>
@if (Model != null)
    {
foreach(var volunteer in Model)
{
    
    <tr>
        <td>@volunteer.FirstName</td>
        <td>@volunteer.LastName</td>           
        <td>@volunteer.Role</td>
        <td>@volunteer.VolunteerID</td>

    </tr>        
}

   }   