@model IEnumerable<BenLearns.ViewModels.VolunteerViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
    </tr>

@using(Html.BeginForm("Volunteers", "Home")) 
{

    <input type="submit" value="Get Volunteers" />

}

@if (Model != null)
    {
foreach(var volunteer in Model)
{
    
    <tr>
        <td>@volunteer.FirstName</td>
        <td>@volunteer.LastName</td>           
        <td>@volunteer.Role</td>
    </tr>        
}

   }     
</table>


@*

Implement this jquery ui to post to a controller method, so i can add a new volunteer
https://stackoverflow.com/questions/8556008/asp-net-mvc-3-jquery-ui-dialog-form?rq=1

*@


