
.hidden {
    display: none
}


.searchbox {
    width: 160px;
}

.searchResultsColumn {
    width: 100px;
}

.inlineblock {
    display: inline-block;
}

#roleDropDown {
    float: right;
}

#VolunteerSearchBTN {
    margin-left: 10px;
}

#SearchForm {
    margin-top: 20px;
}

div.pager {
    text-align: center;
    margin: 1em 0;
}

    div.pager span {
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8;
        text-align: center;
        cursor: pointer;
        background: Gainsboro;
        color: #fff;
        margin-right: 0.5em;
    }

div.pager span.active {
     background: grey;
}